doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/footer/footer
    include ../components/topinfo/topinfo
    include ../components/text-content/text-content
    include ../components/founders/founders
    include ../components/present/present
    include ../components/image-slider/image-slider
    include ../components/features/features

    head
        +head(head.defaults)
    body
        |%=symbols=%

        +header()
        +topinfo(topinfo.about)
        +text-content(textcontent.data1)
        +text-content(textcontent.data2)
        +founders
        +present
        +image-slider(imageSlider.about)
        +text-content(textcontent.data3)
        +features
        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
