mixin features(data)
    .features
        .features__item
            a(href="#")
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText Больше 10 лет на рынке
        .features__item
            a(href="#")
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText Лучший выбор покупателей
        .features__item
            span
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText Лучшие условия для сделки
        .features__item
            span
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText Професиональные сотрудники
