mixin features(data)
    .features
        .features__item
            a(href="#")
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText 60 years of continous service
        .features__item
            a(href="#")
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText Exellent customer satisfaction
        .features__item
            span
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText Highly customizable services
        .features__item
            span
                .features__itemIcon
                    img(src="%=static=%img/content/calendar.png")
                .features__itemText Cutting edge GPS fleet tracking technology
