mixin infoblock-1(data)
    section.infoblock-1
        .infoblock__wrapper
            .infoblock-1__content
                h1 Lorem ipsum dolor sit amet.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .line
                .infoblock-1__contacts
                    .infoblock-1__contactsHeader Узнать о доставке:
                    .infoblock-1__contactsTelMail
                        a(href="tel:88442265404").tel 8 (8442) 265404
                        span or
                        a(href="mailto:konstantinopol34@mail.ru").mail Email

