mixin infoblock-1(data)
    section.infoblock-1
        .infoblock__wrapper
            .infoblock-1__content
                h1 A heading can be several lines long, but we’d prefer they be no longer than two lines.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .line
                .infoblock-1__contacts
                    .infoblock-1__contactsHeader Call About Service:
                    .infoblock-1__contactsTelMail
                        a(href="tel:(312) 444-1234").tel (312) 444-1234
                        span or
                        a(href="mailto:ex@mail.com").mail Email us

