mixin infoblock-8(clss)
    section.infoblock-8(class=clss)
        .infoblock-8__item
            span 5 лет на рынке
        .infoblock-8__item
            span Положительные отзывы клиентов
        .infoblock-8__item
            span Гибкий подход к делу
        .infoblock-8__item
            span Огромный выбор брендов
