.infoblock-8 {
    display: flex;
    flex-wrap: wrap;
    &__item {
        min-height: 350px;
        background-color: #0D47A1;
        width: 25%;
        padding: 1em 0;
        @media (max-width: $grid-ls) {
            width: 50%;
            min-height: 100px;
        }
        @media (max-width: $grid-sm) {
            width: 100%;
            padding: 2em 0;
        }
        &:nth-child(2n) {
            background-color: lighten(#0D47A1, 3%);
        }
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: inline-block;
            width: 50%;
            text-align: left;
            color: #FFFFFF;
            font-size: 28/15+0em;
            font-weight: bold;
            line-height: 1.4;
            @media (max-width: $grid-sl) {
                font-size: 18/15+0em;
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}
