mixin infoblock-8(clss)
    section.infoblock-8(class=clss)
        .infoblock-8__item
            span 60 years of continous service
        .infoblock-8__item
            span Exellent customer satisfaction
        .infoblock-8__item
            span Highly customizable services
        .infoblock-8__item
            span Feature text is great to have
