mixin serp-items(data)
    include ../pagination/pagination
    section.serp-items
        .serp-items__side
            .serp-filter
                .serp-filter__item
                    .serp-filter__header Категории
                    .serp-filter__checks
                        .serp-filter__checkbox
                            input( id="ariel", type="checkbox")
                            label( for="ariel" ) Крыша
                        .serp-filter__checkbox
                            input( id="ariel", type="checkbox")
                            label( for="ariel" ) Фасад
                        .serp-filter__checkbox
                            input( id="ariel", type="checkbox")
                            label( for="ariel" ) Водосточка
                        .serp-filter__checkbox
                            input( id="ariel", type="checkbox")
                            label( for="ariel" ) Внутренняя отделка
                        .serp-filter__checkbox
                            input( id="ariel", type="checkbox")
                            label( for="ariel" ) Инструмент
                        .serp-filter__checkbox
                            input( id="cat_887", type="checkbox", data-attr="cat", disabled="", value="887")
                            label( for="cat_887" ) Электрика

                .serp-filter__item
                    .serp-filter__header Брэнд товара
                    .serp-filter__checks
                        .serp-filter__checkbox
                            input(type="checkbox" checked)
                            label Все
                        .serp-filter__checkbox
                            input(type="checkbox")
                            label Barrera
                        .serp-filter__checkbox
                            input(type="checkbox")
                            label Printech
                .serp-filter__item
                    .serp-filter__header Цена
                    input.serp-filter__range(id="price_range", data-from='50', data-to='500000')
                //- .serp-filter__item
                //-     .serp-filter__header Year
                //-     input.serp-filter__range(id="year_range", data-from='2002', data-to='2016')
                .serp-filter__item
                    a(href="jacascript:void(null);").serp-filter__reset сбросить фильтр

        .serp-items__content
            .serp-items__breads
                .serp-items__breadsSelf
                    a(href="#") Домой
                    a(href="#") Каталог
                .serp-items__breadsView.select-grey
                    span Показать:
                    select
                        option Сеткой
                        option Списком
            .serp-items__cat
                -for(var i = 0; i < 10; i++)
                    .serp-item
                        .serp-item__image
                            img(src="%=static=%img/content/img1.jpg")
                        .serp-item__content
                            .serp-item__content-header Кровельная вентиляция
                            .serp-item__content-item
                                strong Материал: 
                                =" "
                                span Железо
                            .serp-item__content-item
                                strong Материал: 
                                =" "
                                span Железо
                            .serp-item__content-item
                                strong Материал: 
                                =" "
                                span Железо
                        a(href='#').serp-item__view-more подробней
                        a(href='#', modal-open='r-rental').serp-item__request заказать
            .serp-items-bann
                .serp-items-bann__header Акционный блок
                .serp-items-bann__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                a(href="#").serp-items-bann__button Написать нам
            .serp-items__cat
                -for(var i = 0; i < 3; i++)
                    .serp-item
                        .serp-item__image
                            img(src="%=static=%img/content/img1.jpg")
                        .serp-item__content
                            .serp-item__content-header Кровельная вентиляция
                            .serp-item__content-item
                                strong Материал: 
                                =" "
                                span Железо
                            .serp-item__content-item
                                strong Материал: 
                                =" "
                                span Железо
                            .serp-item__content-item
                                strong Материал: 
                                =" "
                                span Железо
                        a(href='#').serp-item__view-more подробней
                        a(href='#', modal-open='r-rental').serp-item__request заказать
            .serp-bottom
                .serp-bottom__select.select-grey
                    select
                        option 6 на странице
                .serp-bottom__pagination
                    +pagination(1, 13, 1)
