mixin locations(data)
    section.locations
        .locations__row
            .locations__list
                .locations__title Торговый дом Константинополь
                .locations__listItem(id='loc1', data-marker='loc1')
                    strong г. Волгоград, ул. 25-лет Октября, 
                    span ул. 25-лет Октября
                    span д.1 Оптово-строительный рынок "Тулака"
                    span Склад 97
                .locations__listItem(id='loc2', data-marker='loc2')
                    strong г. Волгоград, ул. 25-лет Октября, 
                    span ул. 25-лет Октября
                    span д.1 Оптово-строительный рынок "Тулака"
                    span Склад 130
        .locations__map(id="map")
        //- .map(id="map2")
    script( type='text/javascript', defer, src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCulVJqMD06uQ9q_uwqUn8Jp2wZW4grONk&callback=initMap")
    script.
        function initMap() {}