mixin locations(data)
    section.locations
        .locations__row
            .locations__list
                .locations__title Торговый дом Константинополь
                .locations__listItem(id='loc1', data-marker='loc1')
                    strong Первый Адрес
                    span 3333 Mount
                    span Prospect Road Franklin Park,
                    span IL. 60131
                .locations__listItem(id='loc2', data-marker='loc2')
                    strong Второй Адрес
                    span 921 W 171st
                    span St East Hazel Crest,
                    span IL 60429
        .locations__map(id="map")
        //- .map(id="map2")
    script( type='text/javascript', async, defer, src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCulVJqMD06uQ9q_uwqUn8Jp2wZW4grONk&callback=initMap")
    script.
        function initMap() {}