mixin recently(data)
    section.recently
        .recently__header С этим товаром смотрят:
        .recently__items
            - for (var i = 0; i<4;i++)
                .rentals-item
                    .rentals-item__image
                        img(src="%=static=%img/content/img4.jpg")
                    .rentals-item__content
                        .rentals-item__content-header Коллекция КОЛЬЧУГА
                    a(href='#').rentals-item__view-more Посмотреть товар
