node_modules
dev
build/static/js/main.js
build/static/js/*.js
/build/static/js/main.js
/build/static/js/*.js
./build/static/js/
.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc

.idea
npm-debug.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*
