mixin infoblock-5(data)
    section.infoblock-5
        .infoblock__wrapper
            .infoblock-5__video
                .video-content
                    //img(src="%=static=%img/content/ib5-img.png")
                    //.video-content__play 
                    video(poster="%=static=%img/content/ef18810c4a93488b97600512de89101a.jpg" controls crossorigin)
                        source(src="big_buck_bunny_720p_1mb.mp4" type="video/mp4")
            .infoblock-5__content
                .content.white
                    h1 Sometimes Headline text is longer than you expect and there need to be additional lines.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").transparent кнопка
