mixin modals(data)
    include modal__request-service-quote
    include modal__request-service-call
    include modal__request-pm
    include modal__request-rental
    include modal__request-end
    include modal__schedule-training
    include modal__request-parts
    +m-rsq
    +m-rsc
    +m-rpm
    +m-r-rental
    +m-rse
    +m-st
    +m-r-parts
