mixin footer(data)
    footer.footer
        .footer__wrapper
            .footer__text
                .footer__logo
                    a(href="/")
                        img(src="%=static=%img/content/nlt_logo.svg" alt="Logo")
                span National Lift Truck, Inc. is a family owned and operated company that was established in 1956, 60 years ago.
            .footer__nav
                a(href="index.html") Home
                a(href="about.html") About
                a(href="") Locations
                a(href="contacts.html") Contact
            .footer__workTime open 24h
            a(href="tel:8004441234").footer__phone (800) 444-1234
            .footer__social
                a(href="#")
                    i
                        img(src="%=static=%img/content/facebook-logo.svg" alt="facebook")
                    span facebook
                a(href="#")
                    i
                        img(src="%=static=%img/content/instagram-logo.svg" alt="instagram")
                    span instagram
                a(href="#")
                    i
                        img(src="%=static=%img/content/twitter.svg" alt="twitter")
                    span twitter
                a(href="#")
                    i
                        img(src="%=static=%img/content/facebook-logo.svg" alt="facebook")
                    span facebook
                a(href="#")
                    i
                        img(src="%=static=%img/content/instagram-logo.svg" alt="instagram")
                    span instagram
                a(href="#")
                    i
                        img(src="%=static=%img/content/twitter.svg" alt="twitter")
                    span twitter

        .footer__copy
            .footer__links
                a(href="#") Policies
                a(href="#") Privacy
                a(href="#") Terms & Conditions
                a(href="#") Disclaimer
                a(href="#") Site Map
            .footer__rights © 2017 National Lift Truck, Inc.
            .footer__designed
                span="Design by "
                a(href="#") Comrade Web Agency
