mixin footer(data)
    footer.footer
        .footer__wrapper
            .footer__text
                .footer__logo
                    a(href="/")
                        img(src="%=static=%img/content/logos/logo.png" alt="Logo")
                span г. Волгоград, ул. 25-лет Октября, д.1 Оптово-строительный рынок "Тулака", склады 130 и 97.
            .footer__nav
                a(href="index.html") Главная
                a(href="#") Специальные предложения
                a(href="#") Доставка и Оплата
                a(href="#") Фотогалерея
                a(href="#") Сертификаты
                a(href="#") Контакты
            .footer__workTime ПН-ВС с 9 до 18
                br
                a(href="tel:88442265404").footer__phone 8 (8442) 265404
            .footer__social
                a(href="#")
                    i
                        img(src="%=static=%img/content/facebook-logo.svg" alt="facebook")
                    span facebook
                a(href="#")
                    i
                        img(src="%=static=%img/content/instagram-logo.svg" alt="instagram")
                    span instagram
                a(href="#")
                    i
                        img(src="%=static=%img/content/twitter.svg" alt="twitter")
                    span twitter

        .footer__copy
            .footer__links
                a(href="#") Монтаж
                a(href="#") Прайс
                a(href="#") Карта сайта
            .footer__rights © 2018 Торговый дом Константинополь - строительные материалы
            .footer__designed
                span made by 
                a(href="#") gmsch
