mixin founders(data)
    section.founders
        .founders__row
            .founders__content
                h1 Founders
                p Perry Dale DuBose joined the company after returning home from a tour in Vietnam with the US Marine Corp. He focused on growing the customer base through sales and services. Jeff Paul DuBose joined the company after graduating from Northwestern Military and Naval Academy in 1976. Together, the second generation built long lasting relationships with other equipment dealerships and retail customers in the Chicago-land area providing specialized construction, industrial, high and heavy capacity lifting equipment.
            .founders__items
                .founders__item
                    img(src='%=static=%img/content/perry1.jpg')
                    span Perry Dale DuBose
                .founders__item
                    img(src='%=static=%img/content/jeffpd.jpg')
                    span Jeff Paul DuBose
