mixin equip-content(data)
    .equip-content
        -for(var i=0;i<2;i++)
            .equip-item
                .equip-item__image
                    img(src="%=static=%img/content/img1.jpg")
                .equip-item__content
                    .equip-item__content-header Кровельная вентиляция
                    .equip-item__content-item
                        strong Материал:
                        =" "
                        | Железо
                    .equip-item__content-item
                        strong Брэнд:
                        =" "
                        | Хаус
                    .equip-item__content-item
                        strong test:
                        =" "
                        | nnnnnn
                a(href='#').equip-item__view-more подробней
                a(href='#').equip-item__request заказать
            .equip-item
                .equip-item__image
                    img(src="%=static=%img/content/img2.jpg")
                .equip-item__content
                    .equip-item__content-header Кровельная вентиляция
                    .equip-item__content-item
                        strong Материал:
                        =" "
                        | Железо
                    .equip-item__content-item
                        strong Брэнд:
                        =" "
                        | Хаус
                    .equip-item__content-item
                        strong test:
                        =" "
                        | nnnnnn
                a(href='#').equip-item__view-more подробней
                a(href='#').equip-item__request заказать
            .equip-item
                .equip-item__image
                    img(src="%=static=%img/content/img3.jpg")
                .equip-item__content
                    .equip-item__content-header Кровельная вентиляция
                    .equip-item__content-item
                        strong Материал:
                        =" "
                        | Железо
                    .equip-item__content-item
                        strong Брэнд:
                        =" "
                        | Хаус
                    .equip-item__content-item
                        strong test:
                        =" "
                        | nnnnnn
                a(href='#').equip-item__view-more подробней
                a(href='#').equip-item__request заказать
    .equip-side-info.medias
        .equip-side-info__item.schedule
            strong Время работы:
                | 9:00 – 18:00 ПН – ПТ
                br
                | 9:00 – 18:00 СБ
        .equip-side-info__item.restore
                strong Всегда на связи
                | и позитиве
        .equip-side-info__item.cel
                strong Звоните нам
                a(href="tel:+79275174457", rel="nofollow") 8 (927) 517 44 57
                a(href="tel:+79608881900", rel="nofollow") 8 (960) 888 19 00