.equip-content {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-self: flex-start;
    min-height: 100%;
    @media (max-width: $grid-ls) {
        width: 100%;
    }
}

.equip-item {
    width: 31%;
    margin-left: 2.3333%;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 200px;
    @media (max-width: $grid-ls) {
        margin-left: 0;
    }
    @media (max-width: $grid-sl) {
        width: 48%;
    }
    @media (max-width: $grid-sm) {
        width: 100%;
    }
    &__image {
        position: absolute;
        width: 100%;
        max-height: 200px;
        overflow: hidden;
        top:0;
        img {
            display: block;
            width: 100%;
        }
    }
    &__content {
        display: inline-block;
        width: 100%;
        padding: 1.6em 2em;
        &-header {
            font-size: em(18);
            font-weight: 700;
            margin-bottom: 10px;
        }
        &-item {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__view-more {
        @include button;
        width: 100%;
        color:$orange;
        background-color: lighten($orange, 45%);
        border-radius: 0;
        display: block;
        text-align: center;
        &:hover{
            background-color: lighten($orange, 40%)!important;
        }
    }
    &__request {
        @include button();
        width: 100%;
        border-radius: 0;
        display: block;
        text-align: center;
    }
}
