mixin infoblock-3(data)
    section.infoblock-3mm
        .infoblock__wrapper
            .infoblock-3m__content
                .content
                    h1 Sometimes Headline text is longer than you expect and there need to be additional lines.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. equipment:
            .infoblock-3m__icons
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
