mixin infoblock-3(data)
    section.infoblock-3mm
        .infoblock__wrapper
            .infoblock-3m__content
                .content
                    h1 Industrial and Construction Equipment Repairs
                    p Today, we can repair almost any make or model of forklift, telehandler, aerial work platform, carry-deck crane, or sweeper/scrubber. Our factory trained and certified technicians have many years of experience with the following types of equipment:
            .infoblock-3m__icons
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title item title
