mixin infoblock-3(data)
    section.infoblock-3
        .infoblock__wrapper
            .infoblock-3__content
                .content
                    h1 Sometimes Headline text is longer than you expect and there need to be additional lines.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").green кнопка
            .infoblock-3__icons
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title Заголовок
                    .icn-block__Text A set of 130 elements, perfectly fitting each other.
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title Заголовок
                    .icn-block__Text A whole lot of inspiration you can get from the vast variety.
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title Заголовок
                    .icn-block__Text An excellent way of preparing a project’s wireframe.
                .icn-block
                    .icn-block__Icn 
                    .icn-block__Title Заголовок
                    .icn-block__Text A set of 130 elements, perfectly fitting each other.

