mixin infoblock-6(data)
    section.infoblock-6m
        .infoblock__wrapper
            .content
                h1 Наш торговый дом удивит вас ассортиментом и ценами!
            .infoblock-6m__item
                strong Lorem ipsum dolor sit amet.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p Время работы – 9:00 - 18:00
            .infoblock-6m__item
                strong Технологии
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .infoblock-6m__item
                strong Всегда на связи
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
