mixin news-events(data)
    section.news-events
        .news-events__row
            .news-events__items
                .news-events-post
                    .news-events-post__image
                        img(src='%=static=%img/content/img5.jpg')
                    .news-events-post__content
                        .news-events-post__date 14 июля, 2018
                        .news-events-post__header Разновидности металлов с текстурой дерева
                        .news-events-post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam.
                        a(href='#').news-events-post__more читать...
                - for (var i = 0; i < 6; i++)
                    article.news-events-article
                        a.img(style="background:url(%=static=%img/content/img4.jpg) 50%;")
                        .news-events-article__date 14 июля, 2018
                        a(href='#').news-events-article__header Фотоотчет о строительстве фасада
                        p.news-events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        a(href='#').news-events-article__more Читать...

