mixin news-events(data)
    section.news-events
        .news-events__row
            .news-events__items
                .news-events-post
                    .news-events-post__image
                        img(src='%=static=%img/content/20160311-152933.jpg')
                    .news-events-post__content
                        .news-events-post__date July 14, 2017
                        .news-events-post__header Serving the Industrial and Construction marketplace for over 50 years
                        .news-events-post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam.
                        a(href='#').news-events-post__more read more...
                - for (var i = 0; i < 6; i++)
                    article.news-events-article
                        a.img(style="background:url(%=static=%img/content/rental-shenanigans.png) 50%;")
                        .news-events-article__date July 14, 2017
                        a(href='#').news-events-article__header Serving the Industrial and Construction marketplace for over 50 years
                        p.news-events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        a(href='#').news-events-article__more read more...

