mixin equip-side(data)
    .equip-side
        .equip-side-menu
            a(href="#") Штакетник
            a(href="#") Водосточные системы
            a(href="#").active Виниловый сайдинг
            a(href="#") Фасадные панели
            a(href="#") Металлосайдинг
            a(href="#") Профнастил
            a(href="#") Кровля
            a(href="#") Доборные элементы
            a(href="#") Дымники, колпаки, флюгарки
            a(href="#") Кровельная вентиляция
            a(href="#") Комплектующие для кровли
            a(href="#") Софиты
            a(href="#") Дымоходы, вентиляция
            a(href="#") Утеплитель и изоляция
            a(href="#") Паро-гидроизоляционные пленочные мембраны
            a(href="#") ДПК террасная доска и ограждения
            a(href="#") Дренажная ливневая система
            a(href="#") Профиль
            a(href="#") Потолки
            a(href="#") Сайдинг фиброцементный Cedral 
            a(href="#") Фасадная плитка HAUBERG
            a(href="#") Сухие смеси
            a(href="#") Поликарбонат
        .equip-side-info
            .equip-side-info__item.schedule
                strong Время работы:
                | 9:00 – 18:00 ПН – ПТ
                br
                | 9:00 – 18:00 СБ
            .equip-side-info__item.restore
                strong Всегда на связи
                | и позитиве
            .equip-side-info__item.cel
                strong Звоните нам
                a(href="tel:+79275174457", rel="nofollow") 8(927)517–44–57
