mixin logos(data)
    section.logos
        .logos__row
            -for (var i = 0; i < 2; i++)
                a(href="#")
                    img(src="%=static=%img/content/logos/725b3f3417dfeff6ea31eb735f27ab0a.jpg")
                a(href="#")
                    img(src="%=static=%img/content/logos/59064562f3c3fb43f401cddff3da0727.jpg")
                a(href="#")
                    img(src="%=static=%img/content/logos/cde3194bafabc967f3aad96fae8843d6.jpg")