mixin present(data)
    section.present
        .present__row
            .present__header Present and Future
            .present__text Today, the 3rd generation of the DuBose family is involved throughout all levels of the business and looks forward to continue building upon the legacy that William Perry DuBose started for many years to come. The company continues to grow by adding many services including:
            ul.present__list
                li Industrial batteries and chargers (recycling, sales, rentals and refurbishing services)
                li New equipment sales and rental (aerial lift, forklift, industrial cranes, and light towers/generators),
                li A wholesale department that sells equipment new and used worldwide
                li Operator Safety Training
                li Haul-for-hire services and logistics with long and short term indoor and outdoor storage
