mixin reviews(data)
    section.reviews
        .reviews__row
            .reviews__text
                h2 Highly Rated
                strong Testimonials
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                ul
                    li Lorem ipsum dolor sit amet
                    li consectetur adipisicing elit, sed do eiusmod
                    li tempor incididunt ut labore et dolore magna aliqua
            .reviews__slider-container
                .reviews-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .reviews-item
                                .reviews-item__img
                                    img(src="%=static=%img/content/ava1.png")
                                .reviews-item__spec
                                    strong John Doe
                                    span Company.com, SEO
                                .reviews-item__text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        .swiper-slide
                            .reviews-item
                                .reviews-item__img
                                    img(src="%=static=%img/content/ava2.png")
                                .reviews-item__spec
                                    strong John Doe
                                    span Company.com, SEO
                                .reviews-item__text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        .swiper-slide
                            .reviews-item
                                .reviews-item__img
                                    img(src="%=static=%img/content/ava3.png")
                                .reviews-item__spec
                                    strong John Doe
                                    span Company.com, SEO
                                .reviews-item__text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        .swiper-slide
                            .reviews-item
                                .reviews-item__img
                                    img(src="%=static=%img/content/ava1.png")
                                .reviews-item__spec
                                    strong John Doe
                                    span Company.com, SEO
                                .reviews-item__text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination
            .reviews__rates
                .reviews__rate
                    .reviews__rate-img
                        img(src="%=static=%img/content/google-logo.png")
                    .reviews__rate-stars
                        span
                .reviews__rate
                    .reviews__rate-img
                        img(src="%=static=%img/content/yelp-logo.png")
                    .reviews__rate-stars
                        span(style="width:90%")
                .reviews__rate
                    .reviews__rate-img
                        img(src="%=static=%img/content/clutch-logo.png")
                    .reviews__rate-stars
                        span
