mixin custom-section(data)
    section.custom-section
        .custom-section__row
            .custom-section__col
                h1 Headline 1
            .custom-section__col.custom-section__col--x2
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                p
                    strong Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                h2 Headline 2
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                h3 Headline 3
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            .custom-section__col.custom-section__col--x2
                h4 Headline 4
                p.small Lorem1 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                h3 Lists
                ul
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                ol
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                h3 Checkmarks
                ul.checks
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
                    li Lorem1 ipsum dolor sit amet, consectetur
    section.infoblock-6m
        .infoblock__wrapper
            .content
                h1 Our Service Team is dedicated to customer service excellence, and looking forward to serving you!
            .infoblock-6m__item
                strong Periodic Maintenance Programs & Inspections
                p National Lift Truck offers a variety of planned maintenance programs as well as mandatory annual inspections for aerial work platforms. Service can be performed at your location or in our well-equipped facility. Our service professionals will be happy to evaluate your equipment and provide a quote for repair work.
                p Active working hours – 7:00am - 5:00pm CST
            .infoblock-6m__item
                strong Technology
                p We utilize cutting edge GPS fleet tracking technology to ensure that your service needs are fulfilled on time, when you need it. We understand industry challenges and operate with the highest sense of urgency. Every minute that your production stops, it costs money. Whether your operation is down and requires repair, or you have a team of people waiting on the jobsite to use down equipment, every minute counts, and factors into your overall profitability.
            .infoblock-6m__item
                strong 24 Hour service available
                p While our active working hours are 7:00am-5:00pm CST, we regularly service customers outside of traditional working hours. Whether you need an emergency service call at 5:05pm or 3:30am, we want to earn your business and will do everything in our power to complete the job. This work ethic uniquely positions us as a reliable solution provider and minimizes your risk of downtime.
