.infoblock-6 {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(-55deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(216,216,216,.2) 40%, rgba(216,216,216,.2) 85%, rgba(255,255,255,1) 85%);
    background: -webkit-linear-gradient(-55deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(216,216,216,.2) 40%,rgba(216,216,216,.2) 85%,rgba(255,255,255,1) 85%);
    background: linear-gradient(145deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(216,216,216,.2) 40%,rgba(216,216,216,.2) 85%,rgba(255,255,255,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
