mixin inquiry-form(data)
    section.inquiry
        .inquiry__row
            .inquiry__header Запросить отсутствующий товар
            .inquiry__info
                span Крыша
                span Фасад
                span Водосточка
                span Инсрумент
                span Материал
                span Краски
            .inquiry__step-name 1. Введите раздел, номер продукции, описание, количество
            .inquiry-step
                .inquiry-step__parts
                    .inquiry-step__part
                        .inquiry-step__cell.inquiry-step__cell--30
                            label Раздел
                            .inquiry-step__input
                                select
                                    option Фасад
                                    option Крыша
                                    option Водосточка
                        .inquiry-step__cell.inquiry-step__cell--20
                            label Артикул
                            .inquiry-step__input
                                input(type='text')
                        .inquiry-step__cell.inquiry-step__cell--40
                            label Описание
                            .inquiry-step__input
                                input(type='text')
                        .inquiry-step__cell.inquiry-step__cell--10
                            label Количество
                            .inquiry-step__input
                                input(type='number', min='0', value='1')
                .inquiry-step__bottom
                    a(href='#') Нет артикула?
                    button(id='addPart').inquiry-step__bottom-submit Добавить позицию
            .inquiry__step-name 2. Введите свои даные
            form.inquiry-step.inquiry-step--blue
                - var labels = 'Название организации,Имя,Фамилия,Телефон,Отправить по e-mail,Индекс'.split(',');
                - for (var i = 0; i < labels.length; i++)
                    .inquiry-step__cell
                        label #{labels[i]}
                        .inquiry-step__input
                            input(type='text')
                .inquiry-step__bottom
                    button(type='reset').inquiry-step__bottom-reset Сбросить
                    button(type='submit').inquiry-step__bottom-submit Отправить


