mixin header(data)
    include ../search/search
    .header
        .header__wrapper
            .header__logo
                a(href="/")
                    img(src="%=static=%img/content/logos/logo.png" alt="Logo")
            .header__menu
                .header__menuClose 
                .header__sup 
                    .header__workTime ПН-ВС с 9 до 18
                    a(href="tel:88442265404").header__phone 8 (8442) 265404
                    a(href='/contact.html').header__button контакты
                .header__nav
                    a(href="index.html") Главная
                    a(href="#") Специальные предложения
                    a(href="#") Доставка и Оплата
                    a(href="#") Фотогалерея
                    a(href="#") Сертификаты
                    //- a(href="#") Контакты
                
            .header__contacts-m
                a(href="tel:88442265404").header__phone 8 (8442) 265404
                a(href='/contact.html').header__button контакты
            .header__trigger 
        +search()

