mixin rentals-items(data)
    section.rentals-items
        .rentals-items__side
            .rentals-filter
                .rentals-filter__checkbox
                    input(id="1", type="checkbox" checked)
                    label(for="1") Все
                .rentals-filter__checkbox
                    input(id="2", type="checkbox")
                    label(for="2") Крыша
                .rentals-filter__checkbox
                    input(id="3", type="checkbox")
                    label(for="3") Фасад
                .rentals-filter__checkbox
                    input(id="4", type="checkbox")
                    label(for="4") Стройматериалы
                .rentals-filter__checkbox
                    input(id="5", type="checkbox")
                    label(for="5") Инструмент
                .rentals-filter__checkbox
                    input(id="6", type="checkbox")
                    label(for="6") Водосточка
            .equip-side-info
                .equip-side-info__item.schedule
                    strong Время работы:
                    | 9:00 – 18:00 ПН – ПТ
                    br
                    | 9:00 – 18:00 СБ
                .equip-side-info__item.restore
                    strong Всегда на связи
                    | и позитиве
                .equip-side-info__item.cel
                    strong Звоните нам
                    a(href="tel:+79275174457", rel="nofollow") 8 (927) 517 44 57
                    a(href="tel:+79608881900", rel="nofollow") 8 (960) 888 19 00
        .rentals-items__content
            .rentals-items__breads
                .rentals-items__breadsSelf
                    a(href="#") Домой
                    a(href="#") Каталог
                .rentals-items__breadsPage Фасад

            .rentals-items__cat
                    .rentals-items__catHeader Фасадные материалы и прочее
                    .rentals-item
                        .rentals-item__image
                            img(src="%=static=%img/content/img1.jpg")
                        .rentals-item__content
                            .rentals-item__content-header Кровельная вентиляция
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                        a(href='javascript:void(null);', id='r-but', class='re rentals-item__request', data-id='Forklifts',  modal-open='r-rental') Заказать
                    .rentals-item
                        .rentals-item__image
                            img(src="%=static=%img/content/img1.jpg")
                        .rentals-item__content
                            .rentals-item__content-header Кровельная вентиляция
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                        a(href='javascript:void(null);', id='r-but', class='re rentals-item__request', data-id='Forklifts',  modal-open='r-rental') Заказать
                    .rentals-item
                        .rentals-item__image
                            img(src="%=static=%img/content/img1.jpg")
                        .rentals-item__content
                            .rentals-item__content-header Кровельная вентиляция
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                        a(href='javascript:void(null);', id='r-but', class='re rentals-item__request', data-id='Forklifts',  modal-open='r-rental') Заказать
                    .rentals-item
                        .rentals-item__image
                            img(src="%=static=%img/content/img1.jpg")
                        .rentals-item__content
                            .rentals-item__content-header Кровельная вентиляция
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                        a(href='javascript:void(null);', id='r-but', class='re rentals-item__request', data-id='Forklifts',  modal-open='r-rental') Заказать
            .rentals-items__cat
                    .rentals-items__catHeader Другие товары / Сопутствующие товары / Рекомендованные товары
                    .rentals-item
                        .rentals-item__image
                            img(src="%=static=%img/content/img1.jpg")
                        .rentals-item__content
                            .rentals-item__content-header Кровельная вентиляция
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                            .rentals-item__content-item Материал: Железо
                        a(href='javascript:void(null);', id='r-but', class='re rentals-item__request', data-id='Forklifts',  modal-open='r-rental') Заказать
        .equip-side-info.medias
            .equip-side-info__item.schedule
                strong Время работы:
                    | 9:00 – 18:00 ПН – ПТ
                    br
                    | 9:00 – 18:00 СБ
                .equip-side-info__item.restore
                    strong Всегда на связи
                    | и позитиве
                .equip-side-info__item.cel
                    strong Звоните нам
                    a(href="tel:+79275174457", rel="nofollow") 8 (927) 517 44 57
                    a(href="tel:+79608881900", rel="nofollow") 8 (960) 888 19 00
