mixin member-description(data)
    section.member-description
        .member-description__row
            .member-description__photo
                img(src='%=static=%img/content/h9_Aj62OiH4.jpg')
                span Оксана
            .member-description__content
                .member-description__item
                    strong Руководитель:
                    =' '
                    p SEO Оксана
                .member-description__item
                    strong Биография:
                        =' '
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                .member-description__item
                    strong Опыт (лет в деле):
                        =' '
                    p 5
                .member-description__item
                    strong Факты:
                        =' '
                    p Любит путешествовать, ЗОЖ, семью.
