mixin member-description(data)
    section.member-description
        .member-description__row
            .member-description__photo
                img(src='%=static=%img/content/screenshot-2018-02-13-at-15-01-58.jpg')
                span Name Name
            .member-description__content
                .member-description__item
                    strong Title:
                    =' '
                    p SEO
                .member-description__item
                    strong Bio:
                        =' '
                    p Perry DuBose worked alongside his father and founder William Perry DuBose in all aspects of the business after returning from a tour in Vietnam in the United States Marine Corp. He attended college in Sacramento, California. Perry quickly assumed responsibility for management of all operations of the company.
                    p As the company grew so did the number of employees. Today the combined companies employ approximately 200 employees.
                    p Throughout his tenure, Perry has been instrumental in developing new customers, products, services and expanding the geographic footprint of the organization from one location, to now six. Today, he provides strategic direction and insight to the executive management team across the National family of companies.
                .member-description__item
                    strong Years of Service:
                        =' '
                    p 48
                .member-description__item
                    strong Interesting Fact:
                        =' '
                    p Perry enjoys golf, hunting, fast cars and working at the family farm.
