mixin warehouse(data)
    section.infoblock-2s
        .infoblock__wrapper
            .infoblock-2s__content
                .content
                    h1 Warehouse Layout & Design
                    p
                        strong Providing more than 20 years of experience designing and laying out storage facilities:
                    ul
                        li We will observe your operation, regarding your product size(s) and flow
                        li Design team will consult with you, then prepare solutions for your facility
                        li AutoCAD drawings will be provided to depict solution recommendation(s)
                        li Provide optional design/layout to match various lift truck solutions
            .infoblock-2s-image-slider
                .swiper-wrapper
                    .swiper-slide
                        img(src="%=static=%img/content/ib2-img.png")
                    .swiper-slide
                        img(src="%=static=%img/content/ib2-img.png")
                    .swiper-slide
                        img(src="%=static=%img/content/ib2-img.png")
                    .swiper-slide
                        img(src="%=static=%img/content/ib2-img.png")
                    .swiper-slide
                        img(src="%=static=%img/content/ib2-img.png")
                .swiper-pagination
    section.infoblock-2ch
        .infoblock__wrapper
            .content
                h1 Our Service Team is dedicated to customer service excellence, and looking forward to serving you!
            .infoblock-2ch__item
                h1 AutoCAD
                strong AutoCAD is an electronic drafting tool used to assist in warehouse optimization, facility design, space planning, and much more
                ul
                    li Warehouse Layout & Design
                    li Office Space Planning
                    li Manufacturing Floor Space Planning
                    li onceptual Drawings
                    li Village Permit Drawings
            .infoblock-2ch__item
                h1 Office Space Planning
                strong With office space at a premium, the most efficient use of that space is vital to your operation. We understand that!
                ul
                    li Meet to consult on your specific needs, desires, and space allocation
                    li Provide drawings indicating current layout and proposed design
                    li We offer solutions from the leading quality manufacturers in office furniture
