mixin infoblock-7(data)
    section.infoblock-7
        .infoblock__wrapper
            h1 Sometimes Headline text is longer than you expect it to be, so we make sure to design for optionality.
            .infoblock-7__icons
                -var icons = ['', '', '', '', '', '']
                -for (var i = 0; i < icons.length; i++)
                    .icn-block
                        .icn-block__Icn  #{icons[i]}
                        .icn-block__Title Item Title
                        .icn-block__Text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href="#").infoblock-7__button optional button
