.product {
    @include wrapper();
    justify-content: space-between;
    padding-top: 3em;
}
.gallery-top, .gallery-thumbs{
    @media (max-width: $grid-sl + 64px) {
        display: none;
    }
}
.product-info {
    width: 40%;
    @media (max-width: $grid-lm) {
        width: 30%;
    }
    @media (max-width: $grid-sl+50px) {
        width: 100%;
        order: 1;
    }
    &__image {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
            @media (max-width: $grid-sl) {
                display: block;
            }
        }
        .img{
            background-position: center right;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            display: inline-block;
            width: 100%;
            min-height: min-content;
            height: 400px;
        }
        img {
            width: 100%;
            display: block;
            height: auto;
        }
        margin-bottom: 3px;
        @media (max-width: $grid-sl) {
            margin-bottom: 25px;
        }

        &--mobile {
            display: none;
            margin-bottom: 25px;
            @media (max-width: $grid-sl + 64px) {
                display: inline-block;
            }
            img {
                display: block;
                width: 100%;
            }
        }
    }
    &__preview {
        margin-bottom: 25px;

        .gallery-thumbs__slide,
        .gallery-top__slide{
            margin-right:3px;
        }
        .img {
            background-position: center right;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 10px;
            min-height: min-content;
            height: 100px;
            cursor:-webkit-grab;
            cursor: grab;
            @include trans;
            &:hover{
                opacity: .8;
            }
            &:first-child{
                margin-left:0;
            }
        }
        img {
            width: 95%;
            display: block;
            height: auto;
            opacity: .6;
        }
        .slick-current {
            img {
                opacity: 1;
            }
        }
    }
    &__content {
        border-radius: 4px;
        border: 1px solid #dddddd;
        background-color: #f8f8f8;
        padding: em(40)
    }
    &__header {
        color: #1a1a1c;
        font-size: em(32);
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__subheader {
        color: #9a9a9a;
        font-size: em(24);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__text {
        line-height: 1.6875;
        margin-bottom: 25px;
    }
    &__link {
        text-decoration: none;
        color: $link-blue;
        font-weight: 700;
    }

}
.product-description {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    @media (max-width: $grid-lm) {
        width: 65%;
    }
    @media (max-width: $grid-sl+50px) {
        width: 100%;
        margin-bottom: 25px;
    }
    & > * {
        width: 100%;
    }
    &-bread {
        margin-bottom: 40px;
        a {
            color: #1048a8;
            text-decoration: none;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
            &:after {
                content: '→';
                display: inline-block;
                margin: 0 10px;
            }
            &:last-child {
                color: #1a1a1c;
                pointer-events: none;
                &:after {
                    display: none;
                }
            }
        }
    }
    &__header, &__sub {
        color: #1a1a1c;
        font-size: em(32);
        font-weight: 700;
        margin-bottom: 25px;
        line-height: 1;
    }
    &__sub {
        font-size: em(26);
        margin-bottom: 20px;
        &.mt25 {
            margin-top: 25px;
        }
    }
    &__text {
        line-height: 1.6875;
        margin-bottom: 25px;
    }
    &__col {
        width: 40%;
        margin-bottom: 25px;
        @media (max-width: $grid-sl) {
            width: 50%;
            padding-right: 5px;
        }
        &Item {
            line-height: 1.6875;
            strong {
                font-weight: 700;
            }
        }
    }
}
.ablab{
    width:auto!important;
}
.abspan{
    width: 55.5%;
}
.product-form {
    padding: em(40);
    border-radius: 4px;
    border: 1px solid #ebecf7;
    background-color: #f5f6fb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    .product-form {
        padding: 0;
        border: 0;
    }
    @media (max-width: $grid-sl) {
        padding: 2em 1em;
    }
    &__field {
        width: 49%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media (max-width: $grid-sm+50px) {
            width: 100%;
            flex-wrap: wrap;
        }
        .wpcf7-form-control-wrap {
            width: 100%;
        }
        &.full {
            width: 100%;
        }
        &.big {
            margin-bottom: 25px;
            span{
                &:nth-child(2) {
                    label{
                        margin-right:35px;
                        border-right:1px solid #aaa;
                        @media (max-width: $grid-sm+50px) {
                            border-right:0;
                        }
                    }
                    @media (max-width: $grid-sm+50px) {
                        padding-bottom: 10px;
                        border-bottom:1px solid #aaa;
                    }
                }
                &:nth-child(3) {
                    label{
                        margin-left:30px;
                        @media (max-width: $grid-sm+50px) {
                            margin-left:15px;
                        }
                    }
                }
                @media (max-width: $grid-sm+50px) {
                    width:100%;
                }
                label {
                    width: 100%;
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    margin: 15px;
                    flex-direction: row;
                    text-overflow: clip;
                    &::after {
                        left: 10px;
                    }
                    @media (max-width: $grid-sm+50px) {
                        margin-bottom: 5px;
                    }

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        color: #1a1a1c;
                        line-height: 1.3;
                        width: auto;
                        max-width: 90%;
                    }
                }
            }

        }
        .jq-selectbox {
            width: 100%;
            .jq-selectbox__trigger-arrow {
                &:after {
                    content: '\e923';
                    color: #1048a8;
                    font-family: "Material Icons";
                    font-size: em(26);
                    font-weight: 400;
                    line-height: 1;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .jq-selectbox__dropdown {
                padding: 0;
                li {
                    padding: 10px 1em 10px;
                    color: #3B3D40;
                    font-size: 1em;
                    font-weight: 400;
                    &:hover, &.selected, &.sel {
                        background-color: $accent-blue;
                        color: #ffffff;
                    }
                }
            }
        }
        input, .jq-selectbox__select {
            display: block;
            width: 100%;
            height: 45px;
            line-height: 45px;
            border-radius: 4px;
            border: 1px solid #dddddd;
            background-color: #ffffff;
            font-size: em(14);
            padding: 0 1em;
            color: #777;
            transition: .25s;
            box-shadow: transparent;
            .jq-selectbox__select-text {
                line-height: 43px;
                font-weight: 400;
            }
            &:focus {
                border-color: $link-blue;
                box-shadow: 0 2px 8px rgba(#000, .1);
            }
        }
        label {
            width: 60%;
            @media (max-width: $grid-sm+50px) {
                width: 100%;
                margin-bottom: 15px;
            }
            span {
                display: inline-block;
                width: 86%;
                vertical-align: top;
                color: #1a1a1c;
                line-height: 1.3;
            }
        }
        button {
            @include button();
            @media (max-width: $grid-sm+50px) {
                margin: 0 auto;
            }
        }
    }
    &__header {
        color: #1a1a1c;
        font-size: em(32);
        font-weight: 700;
        line-height: 1;
        @media (max-width: $grid-sm+50px) {
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
        }
    }
    &__phone {
        font-size: em(18);
        font-weight: 700;
        line-height: 1;
        color: #1a1a1c;
        @media (max-width: $grid-sm+50px) {
            width: 100%;
            text-align: center;
        }
        a {
            color: $link-blue;
            text-decoration: none;
        }
    }
    &__control {
        position: absolute;
        top: 50%;
        right: 10px;
        cursor: pointer;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        z-index: 11;
        &.date {
            &:after {
                content: '';
            }
        }
        &:after {
            color: #1048a8;
            font-family: "Material Icons";
            font-size: em(26);
            font-weight: 400;
            line-height: 1;
        }
    }
}
