mixin product(data)
    section.product
        .product-info
            .product-info__image.gallery-top
                .gallery-top__slide
                    .img(style="background-image:url(%=static=%img/content/roof1.jpg)")
                    //img(src="%=static=%img/content/vp4698756-1l.png")
                .gallery-top__slide
                    .img(style="background-image:url(%=static=%img/content/9f281b29c7659b4531c582efe40b314f.jpg)")
                //    //img(src="%=static=%img/content/vp4698756-1l.png")
                .gallery-top__slide
                    .img(style="background-image:url(%=static=%img/content/img2.jpg)")
                //    //img(src="%=static=%img/content/vp4698756-1l.png")
                .gallery-top__slide
                    img(src="%=static=%img/content/img3.jpg")
                .gallery-top__slide
                    img(src="%=static=%img/content/img4.jpg")
            .product-info__preview.gallery-thumbs
                .gallery-thumbs__slide
                    .img(style="background-image:url(%=static=%img/content/roof1.jpg)")
                .gallery-thumbs__slide
                    .img(style="background-image:url(%=static=%img/content/9f281b29c7659b4531c582efe40b314f.jpg)")
                .gallery-thumbs__slide
                    .img(style="background-image:url(%=static=%img/content/img2.jpg)")
                .gallery-thumbs__slide
                    .img(style="background-image:url(%=static=%img/content/img3.jpg)")
                .gallery-thumbs__slide
                    .img(style="background-image:url(%=static=%img/content/img4.jpg)")
            .product-info__content
                .product-info__header Мы гарантируем
                .product-info__subheader Компетентность и качество
                .product-info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                a(href="#").product-info__link Читать больше о нашей гарантии...
        .product-description
            .product-description-bread
                a(href='#') На главную
                a(href='#') Каталог
                a(href='#') Кровля
                a(href='#') Фемили Эко СТАНДАРТ
            h1.product-description__header Коллекция Фемили Эко СТАНДАРТ
            .product-info__image--mobile.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="%=static=%img/content/roof1.jpg")
                    .swiper-slide
                        img(src="%=static=%img/content/9f281b29c7659b4531c582efe40b314f.jpg")
                    .swiper-slide
                        img(src="%=static=%img/content/img2.jpg")
                    .swiper-slide
                        img(src="%=static=%img/content/img3.jpg")
                    .swiper-slide
                        img(src="%=static=%img/content/img4.jpg")
                .swiper-button-prev.swiper-button-white
                .swiper-button-next.swiper-button-white
            .product-description__sub Описание товара
            .product-description__text ФЕМИЛИ ЕСО RoofShield – это современная гибкая черепица, цена которой позволяет .без особых затрат решить вопрос устройства кровли из гибкой черепицы.
                | Как и любая другая мягкая кровля, битумная черепица ROOFSHIELD позволяет накрыть даже самую сложную, изобретательную и изощренную конструкцию крыши.
            .product-description__price 
                strong Цена:
                span 150 руб.
            .product-description__col
                .product-description__sub Особенности
                .product-description__colItem
                    strong Влагостойкость:
                    =" "
                    span 122
                .product-description__colItem
                    strong Цвет:
                    =" "
                    span Синий
                
                .product-description__sub.mt25 Применение
                .product-description__colItem
                    strong Наружние работы:
                    =" "
                    span Крыша/фасад
            .product-description__col
                .product-description__sub Характеристики
                .product-description__colItem
                    strong Вес:
                    =" "
                    span 10кг
                .product-description__colItem
                    strong Состав:
                    =" "
                    span 
                
                .product-description__sub.mt25 На складе
                .product-description__colItem
                    strong есть в наличии
            .product-form
                .product-form__field.full.big
                    .product-form__header Отправить запрос
                    .product-form__phone
                        ="или позвоните "
                        a(href="tel:88442265404") 8 (8442) 265404
                .product-form__field.full.big
                    span
                        input(type="radio", name="r0", id="r0", checked)
                        label(for="r0") Новый покупатель
                    span
                        input(type="radio", name="r0", id="r1")
                        label(for="r1") Постоянный клиент
                .product-form__field
                    input(type="text", placeholder="Имя")
                .product-form__field
                    input(type="text", placeholder="Фамилия")
                .product-form__field
                    input(type="text", placeholder="Компания")
                .product-form__field
                    input(type="text", placeholder="Email")
                .product-form__field
                    input(type="text", placeholder="Контактный номер")
                .product-form__field
                    input(type="text", placeholder="Факс")
                .product-form__field.full
                    input(type="text", placeholder="Сообщение")
                .product-form__field.full
                    input(type="checkbox", id="field1")
                    label(for="field1", class="ablab")
                    span.abspan Поставьте галочку, если хотите получать рассылку с новостями о скидках и акциях

                    button(type="submit") Отправить запрос
