mixin post-mix(data)
    section.post-mix
        .post-mix__row
            .post-mix__cell.post-mix__cell--x2
                .post-mix__header События и новости
                .post-mix__articles
                    - for (var i = 0; i < 6; i++)
                        article.post-mix-article
                            img(src="%=static=%img/content/rental-shenanigans.png", alt="post image")
                            .post-mix-article__date Июль 14, 2017
                            a(href='#').post-mix-article__header Lorem ipsum dolor sit amet
                            p.post-mix-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            .post-mix__cell
                .post-mix__header Популярные статьи
                .post-mix__recent-articles
                    - for (var i = 0; i < 6; i++)
                        article.post-mix-article
                            .post-mix-article__date Июль 14, 2017
                            a(href='#').post-mix-article__header Lorem ipsum dolor sit amet

                .post-mix-sub
                    .post-mix-sub__header Подпишитесь чтоб получать рассылку
                    .post-mix-sub__text На Вашу электронную почту будут приходить новости о скидках и акциях
                    form.post-mix-sub__form
                        input(type='text', placeholder='Ваш email')
                        button Вступайте!
