mixin events(data)
    section.events
        .events__row
            .events__cell
                .events__header News
                article.events-article
                    img(src="%=static=%img/content/dollarphotoclub-73507305.png", alt="post image")
                    .events-article__date July 14, 2017
                    h1.events-article__header Serving the Industrial and Construction marketplace for over 50 years
                    p.events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").events-article__link read all news
            .events__cell
                .events__header Events
                article.events-article
                    img(src="%=static=%img/content/rental-shenanigans.png", alt="post image")
                    .events-article__date July 14, 2017
                    h1.events-article__header Serving the Industrial and Construction marketplace for over 50 years
                    p.events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").events-article__link view all events
            .events__cell
                .events__header Publications
                article.events-article
                    img(src="%=static=%img/content/189529.png", alt="post image")
                    .events-article__date July 14, 2017
                    h1.events-article__header Serving the Industrial and Construction marketplace for over 50 years
                    p.events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").events-article__link read all Publications
