mixin events(data)
    section.events
        .events__row
            .events__cell
                .events__header Полезное
                article.events-article
                    img(src="%=static=%img/content/img4.jpg", alt="post image")
                    .events-article__date 14 июля, 2017
                    h1.events-article__header Разновидности металлов с текстурой дерева
                    p.events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").events-article__link все статьи
            .events__cell
                .events__header События
                article.events-article
                    img(src="%=static=%img/content/img5.jpg", alt="post image")
                    .events-article__date 14 июля, 2017
                    h1.events-article__header Лучшие жестянщики мира устроили соревнования
                    p.events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").events-article__link все события
            .events__cell
                .events__header Публикации
                article.events-article
                    img(src="%=static=%img/content/img3.jpg", alt="post image")
                    .events-article__date 14 июля, 2017
                    h1.events-article__header Фотоотчет о строительстве фасада
                    p.events-article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    a(href="#").events-article__link фотогалерея
