mixin search(data)
    .search
        .search__wrapper
            .search__select
                #selectBox
                    .arrw
                    span.valueTag( name='select') Каталог товаров
                    ul#selectMenuBox
                        li.option
                            a(href="#") Штакетник
                        li.option
                            a(href="#") Водосточные системы
                        li.option
                            a(href="#") Виниловый сайдинг
                        li.option
                            a(href="#") Фасадные панели
                        li.option
                            a(href="#") Металлосайдинг
                        li.option
                            a(href="#") Профнастил
                        li.option
                            a(href="#") Кровля
                        li.option
                            a(href="#") Доборные элементы
                        li.option
                            a(href="#") Дымники, колпаки, флюгарки
                        li.option
                            a(href="#") Кровельная вентиляция
                        li.option
                            a(href="#") Комплектующие для кровли
                        li.option
                            a(href="#") Софиты
                        li.option
                            a(href="#") Дымоходы, вентиляция

            .search__field
                input(type='text', placeholder='Поиск...')
                button 
